.add-offering-page{
    margin: 15px 48px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.add-offering-nav{
    display: flex;
    gap: 15px;
    align-items: center;
}
.add-offering-name{
    font-size: 20px;
    font-weight: 510;
    line-height: 24px;
    text-align: left;
}