.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal.show {
    display: block;
}

.modal-content {
    background-color: #fefefe;
    margin: 50% auto;
    padding: 35px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 15px;
    position: relative;
}

.close {
    color: var(--color-black);
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 9px;
    top: -5px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.modal-tab {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
}

.modal-tab.active {
    background-color: #3762CA;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 14px;
    outline: none;
}

form button {
    padding: 10px;
    background-color: #3762CA;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
}

form button:hover {
    background-color: #294a99;
}
